$primaryColor: #eeeeee;
$secondaryColor: #222;
button:focus,
select:focus,
input {
  outline: 0;
}

.outer {
  margin: 1.5rem 0 3rem 0;
  .wrapper {
    .chosenDate {
      border: 1px solid #eee;
      border-radius: 0.5rem;
      text-align: center;
      margin: 0;
      padding: 1rem;
      margin-top: 1rem;
    }
    .noPastDates {
      color: red;
      text-align: center;
    }
    .flipContainerLeft,
    .flipContainerRight {
      .flipper {
        transform-style: preserve-3d;
        position: relative;
        height: inherit;
        .btn {
          width: 2rem;
          height: 2rem;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }
        .btnPrev {
          transform: rotate(90deg);
        }
        .btnNext {
          transform: rotate(-90deg);
        }
        .btnPrev,
        .btnNext {
          border: none;
          background: none;
          font-size: 1.5rem;
        }
        .selectMonth {
          height: 3rem;
          cursor: pointer;
          font-family: "Euclid";
          font-size: 17px;
          font-weight: 500;
          border: none;
          background: none;
        }
      }
      .frontRight,
      .backRight {
        border-radius: 0.5rem;
      }
    }
  }
  .flipContainerRight {
    .toggle {
      transform: rotateX(180deg);
    }
    .flipper {
      transition: 1s ease-in;
      .front {
        border: 1px solid #eee;
        padding: 1rem;
        * {
          overflow: hidden;
        }
        .containerDatePicker {
          width: 90%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 1rem;
        }
        .containerDay {
          margin-bottom: 1rem;
          display: grid;
          text-align: center;
          width: 100%;
          justify-content: center;
          align-items: center;
          grid-template-columns: repeat(7, 3rem);
          .weekday {
            color: #b46c5f;
          }
          .weekday,
          .dayBlock {
            height: 2rem;
            font-weight: 400;
            margin: 0.25rem;
          }
          .dayBlock {
            cursor: pointer;
            transition: 0.2s;
            .inner {
              transition: background-color 1s;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .active {
            background-color: #50c493;
            border-radius: 0.3rem;
            color: #fff;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .outer {
    margin: 1.5rem 0 3rem 0;
    .wrapper {
      margin: 0 auto;
      padding: 0;
      .flipContainerLeft,
      .flipContainerRight {
        .flipper {
          transform-style: preserve-3d;
          position: relative;
          height: inherit;
          margin: 0;
          padding: 0;
          .btn {
            margin: 0;
            padding: 0;
            cursor: pointer;
            &:hover {
              opacity: 0.5;
            }
          }
          .btnPrev,
          .btnNext {
            border: none;
            background: none;
            font-size: 1.5rem;
          }
          .selectMonth {
            height: 3rem;
            cursor: pointer;
            font-family: "Euclid";
            font-size: 17px;
            font-weight: 500;
            border: none;
          }
        }
        .frontRight,
        .backRight {
          border-radius: 0.5rem;
        }
      }
    }
    .flipContainerRight {
      .flipper {
        .front {
          border: none;
          margin: 0;
          padding: 0;
          * {
            overflow: hidden;
          }
        }
      }
    }
  }
}
