button:focus,
select:focus,
input {
  outline: 0;
}

.outer {
  margin: 1.5rem 0 3rem 0;
}

.outer .wrapper .noPastDates {
  color: red;
  text-align: center;
}

.outer .wrapper .flipContainerLeft .flipper,
.outer .wrapper .flipContainerRight .flipper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  height: inherit;
}

.outer .wrapper .flipContainerLeft .flipper .btn,
.outer .wrapper .flipContainerRight .flipper .btn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.outer .wrapper .flipContainerLeft .flipper .btn:hover,
.outer .wrapper .flipContainerRight .flipper .btn:hover {
  opacity: 0.5;
}

.outer .wrapper .flipContainerLeft .flipper .btnPrev,
.outer .wrapper .flipContainerRight .flipper .btnPrev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.outer .wrapper .flipContainerLeft .flipper .btnNext,
.outer .wrapper .flipContainerRight .flipper .btnNext {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.outer .wrapper .flipContainerLeft .flipper .btnPrev,
.outer .wrapper .flipContainerLeft .flipper .btnNext,
.outer .wrapper .flipContainerRight .flipper .btnPrev,
.outer .wrapper .flipContainerRight .flipper .btnNext {
  border: none;
  background: none;
  font-size: 1.5rem;
}

.outer .wrapper .flipContainerLeft .flipper .selectMonth,
.outer .wrapper .flipContainerRight .flipper .selectMonth {
  height: 3rem;
  cursor: pointer;
  font-family: "Euclid";
  font-size: 17px;
  font-weight: 500;
  border: none;
  background: none;
}

.outer .wrapper .flipContainerLeft .frontRight,
.outer .wrapper .flipContainerLeft .backRight,
.outer .wrapper .flipContainerRight .frontRight,
.outer .wrapper .flipContainerRight .backRight {
  border-radius: 0.5rem;
}

.outer .flipContainerRight .toggle {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.outer .flipContainerRight .flipper {
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.outer .flipContainerRight .flipper .front {
  border: 1px solid #eee;
  padding: 1rem;
}

.outer .flipContainerRight .flipper .front * {
  overflow: hidden;
}

.outer .flipContainerRight .flipper .front .containerDatePicker {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.outer .flipContainerRight .flipper .front .containerDay {
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (3rem)[7];
      grid-template-columns: repeat(7, 3rem);
}

.outer .flipContainerRight .flipper .front .containerDay .weekday {
  color: #b46c5f;
}

.outer .flipContainerRight .flipper .front .containerDay .weekday,
.outer .flipContainerRight .flipper .front .containerDay .dayBlock {
  height: 2rem;
  font-weight: 400;
  margin: 0.25rem;
}

.outer .flipContainerRight .flipper .front .containerDay .dayBlock {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.outer .flipContainerRight .flipper .front .containerDay .dayBlock .inner {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.outer .flipContainerRight .flipper .front .containerDay .active {
  background-color: #50c493;
  border-radius: 0.3rem;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .outer {
    margin: 1.5rem 0 3rem 0;
  }
  .outer .wrapper {
    margin: 0 auto;
    padding: 0;
  }
  .outer .wrapper .flipContainerLeft .flipper,
  .outer .wrapper .flipContainerRight .flipper {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    height: inherit;
    margin: 0;
    padding: 0;
  }
  .outer .wrapper .flipContainerLeft .flipper .btn,
  .outer .wrapper .flipContainerRight .flipper .btn {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .outer .wrapper .flipContainerLeft .flipper .btn:hover,
  .outer .wrapper .flipContainerRight .flipper .btn:hover {
    opacity: 0.5;
  }
  .outer .wrapper .flipContainerLeft .flipper .btnPrev,
  .outer .wrapper .flipContainerLeft .flipper .btnNext,
  .outer .wrapper .flipContainerRight .flipper .btnPrev,
  .outer .wrapper .flipContainerRight .flipper .btnNext {
    border: none;
    background: none;
    font-size: 1.5rem;
  }
  .outer .wrapper .flipContainerLeft .flipper .selectMonth,
  .outer .wrapper .flipContainerRight .flipper .selectMonth {
    height: 3rem;
    cursor: pointer;
    font-family: "Euclid";
    font-size: 17px;
    font-weight: 500;
    border: none;
  }
  .outer .wrapper .flipContainerLeft .frontRight,
  .outer .wrapper .flipContainerLeft .backRight,
  .outer .wrapper .flipContainerRight .frontRight,
  .outer .wrapper .flipContainerRight .backRight {
    border-radius: 0.5rem;
  }
  .outer .flipContainerRight .flipper .front {
    border: none;
    margin: 0;
    padding: 0;
  }
  .outer .flipContainerRight .flipper .front * {
    overflow: hidden;
  }
}
/*# sourceMappingURL=cal.css.map */